{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} The title goes here {% endblock title %}</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'mywebpage/css/main.css' %}">-->
    {% include "partials/_navlinks.html" %}
</head>
<body bgcolor="orange">

    {% block content %}
        <header>
            {% include "partials/_navlinks.html" %}
        </header>
      
        body of any page that inherits the base html goes here

    {% endblock content %}
    
</body>
</html>